{% extends 'base.html.twig' %}

{% block body %}

<main class="text-center bg-text-about">
  <div class="container about">
    <div class="row">
      <div class="col-md-12">
        <p> Née en Angleterre, j'ai grandi et voyagé en Afrique (Guinée, Niger, Cameroun, Sénégal et Maroc) de par le travail de mon père aux Nations Unis, ce qui m'a donné la capacité et l'aisance à apprendre et de m'adapter à de nouvelles langues, ainsi qu'à m'adapter à toutes situations qui me sont présentées. </p>

         <div class="line"></div>

        <p> J'ai débuté ma vie professionnelle en tant que Barmaid, et j'ai aussi parcouru d'autres chemins, avant de trouver ma vocation et passion dans l'informatique et le code. J'ai étudié le développement web avec passion, motivée par la nécessité de travailler dans un domaine qui m'intéresse beaucoup. </p>
        
        <p>Je cherche activement à rejoindre une équipe pour acquérir de l'expérience de travail, me former et en apprendre d'avantage sur les nouvelles langues et les nouveaux frameworks, technos, et plus.. </p>
        {# <p>Mes expériences de voyages dans le monde m'ont données une ouverture d'esprit, une aisance d'adaptation à toutes les situations, aussi j'ai par nature acquis un fort d'équipe qu'une facilité d'autonomie.</p> #}
      </div>
    </div>
  </div>


<div class="bg-image-about">
</div>

</main>
{% endblock %}
