{% extends 'base.html.twig' %}

{% block body %}


<section class="text-center d-flex ml-5 w-75" >
<div class="card rounded-pill" style="border:2px solid">
  <div>
    <img src="img/happy.jpg" class="profile-pic ml-3" alt="profile picture">
  </div>
  <div class="container" style="margin-top:-150px; margin-left:150px">
    <div class="row">
      <div class="col-md-10">
        <p class="about">Véritable passionnée pour le code et le développement informatique, j'en ai fait ma reconversion professionnelle. Mon domaine de compétences comprend: la création/maintenance/reprise de sites internet (développement web), avec une spécialité dans l'intégration HTML/CSS sur mesure, l'accessibilité, le développement front-end, la qualité web et le responsive.</p>
      </div>
    </div>
    </div>
  </div>
</section>


<div class="bg-image-about">
</div>

<main class="text-center" style="margin-top:-80vh;">
  <div class="container about card border-right border-left">
    <div class="row">
      <div class="col-md-12">
        <p> Née en Angleterre, j'ai grandi et voyagé en Afrique (Guinée, Niger, Cameroun, Sénégal et Maroc) de par le travail de mon père aux Nations Unis, ce qui m'a donné la capacité et l'aisance à apprendre et de m'adapter à de nouvelles langues, ainsi qu'à m'adapter à toutes situations qui me sont présentées. </p>

         <div class="line"></div>

        <p> J'ai débuté ma vie professionnelle en tant que Barmaid, et j'ai aussi parcouru d'autres chemins, avant de trouver ma vocation et passion dans l'informatique et le code. J'ai étudié le développement web avec passion, motivée par la nécessité de travailler dans un domaine qui m'intéresse beaucoup. </p>
        
        <p>Je cherche activement à rejoindre une équipe pour acquérir de l'expérience de travail, me former et en apprendre d'avantage sur les nouvelles langues et les nouveaux frameworks, technos, et plus.. </p>
        {# <p>Mes expériences de voyages dans le monde m'ont données une ouverture d'esprit, une aisance d'adaptation à toutes les situations, aussi j'ai par nature acquis un fort d'équipe qu'une facilité d'autonomie.</p> #}
      </div>
    </div>
  </div>
</main>
{% endblock %}
