{% extends 'base.html.twig' %}


{% block body %}
<style>
.bg-image-contact{
  background-size:auto;
  background-image: url('../img/bali.jpg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  filter:blur(2px);
  -webkit-filter: blur(2px);
  bottom:0;
  height:100vh;
  position:relative;
}
</style>

<div class="bg-image-contact"></div>

<div class="bg-text" style="margin-top:60vh">
  {{ form(form) }}
</div>
{% endblock %}