{% extends 'base.html.twig' %}


{% block body %}

<div class="card">
  <h1>Contactez-moi</h1>
</div>

<div class="bg-text" style="margin-top:60vh; z-index:auto">
  {{ form(form) }}
</div>
{% endblock %}