{% extends 'base.html.twig' %}

{% block body %}
<style>
.bg-image-edu{
  background-size:cover;
  background-image: url('../img/bg.png');
  background-repeat:no-repeat;
  background-attachment: fixed;
  filter:blur(2px);
  -webkit-filter: blur(2px);
  bottom:0;
  height:100vh;
  position:relative;
}
</style>

<div class="bg-image-edu">
</div>


{% endblock %}