{% extends 'base.html.twig' %}

{% block body %}
<main class="text-center py-5" style="height:300px">
  <img src="img/pro.jpg" class="profile-pic" alt="profile picture">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <p align="justify" class="about">Véritable passionnée pour le code et le développement informatique, j'en ai fait ma reconversion professionnelle. Mon domaine de compétences comprend: la création/maintenance/reprise de sites internet (développement web), avec une spécialité dans l'intégration HTML/CSS sur mesure, l'accessibilité, le développement front-end, la qualité web et le responsive.</p>
      </div>
    </div>
  </div>
</main>


{% endblock %}
