{% extends 'base.html.twig' %}

{% block body %}

  <div class="bg-image"></div>
  <div class="bg-text">
      {# <h2>Bonjour, je m'appelle</h2> #}
      <h1 style="font-size:80px">Leila Rhazaoui</h1>
      <p>Développeur Web</p> 
  </div>

{% endblock %}
