{% extends 'base.html.twig' %}

{% block body %}

  <div class="bg-text">
      <h2>Bonjour, je m'appelle</h2>
      <h1 style="font-size:80px">Leila R</h1>
      <p>Et je suis développeur Web</p> 
  </div>

{% endblock %}
