{% extends 'base.html.twig' %}

{% block body %}

<div class="mt-5 d-flex justify-content-center flex-wrap" >
  <img class="m-5" src="../img/html.png" alt="html" height="100">
  <img class="m-5" src="../img/php.png" alt="html" height="100">
  <img class="m-5" src="../img/mysql.png" alt="html" height="100">
  <img class="m-5" src="../img/symfony_black_03.png" alt="html" height="100">
  <img class="m-5" src="../img/PhpMyAdmin_logo.png" alt="html" height="100">
  <img class="m-5" src="../img/git.png" alt="html" height="100">
  <img class="m-5" src="../img/WordPress-logotype-alternative.png" alt="html" height="100">
  <img class="m-5" src="../img/atelier-github-sqylab-2.png" alt="html" height="100">
  <img class="m-5" src="../img/js.png" alt="html" height="100">
  <img class="m-5" src="../img/npm.png" alt="html" height="100">
</div>

{% endblock %}