{% extends 'base.html.twig' %}

{% block body %}
<style>
.bg-image-edu{
  background-size:cover;
  background-image: url('../img/bg.png');
  background-repeat:no-repeat;
  background-attachment: fixed;
  bottom:0;
  position:relative;
  height:200vh;
}
.head{
  padding-top:10vh;
  font-family: 'Amatic SC' ;
  font-weight:bold;
  font-size:4rem;
}
p {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size:1.3rem;
}
#imgs:active {
  transform: scale(6);
  transition:.3s;
}
</style>

<div class="bg-image-edu">
  <div class="d-flex">
    <div class="col-md-6">
      <center><h2 class="head">Projets Wild Code School</h2>
      <div class="w-50">
          <a href="https://siouplait.github.io/order/" target="_blank"><img class="m-5" src="../img/siouplai.PNG" alt="siouplai" height="250"></a>
          <p>Le projet Siouplait est le projet final auquel j'ai participé à la fin de formation à la Wild Code School. Notre client voulait une application React pour son projet de commande en ligne. <i>Technos utilisés: HTML/CSS, ReactJS, NodeJS, Git.</i></p>
      </div>
      <hr>
          <a href="https://github.com/WildCodeSchool/paris-0218-wild-source" target="_blank">Paris Wild Source</a></center>
    </div>
    <div class="col-md-6">
      <center><h1 class="head">Projet AFPA</h1>
      <div class="w-50">
        <a href="https://www.zupimages.net/viewer.php?id=19/30/b62p.png" target="_blank"><img class="m-5" src="../img/banksy.png" alt="banksy" height="200"></a>
         <p>Petit projet Bootstrap web responsive réalisé en début de formation.<i>Technos utilisés: HTML/CSS Bootstrap.</i></p>
      </div>
      <hr>
      <div class="w-50">
        <a href="https://www.zupimages.net/up/19/30/ue9j.png" target="_blank"><img class="m-5" src="../img/oo.png" alt="Othello" height="200"></a>
         <p>Petit projet Wordpress réalisé en début de formation.<i>Technos utilisés: Wordpress.</i></p>
      </div>
      <hr>
      <div class="w-50">
          <a href="https://siouplait.github.io/order/" target="_blank"><img class="m-5" src="../img/othelologo.PNG" alt="othello" height="50"></a> 
          <p>Le projet "Othello" est mon projet final réalisé à la fin de formation à l'AFPA. C'est un site créé pour une association culturelle, une Compagnie Théatrale à but non lucratif.<i>Technos utilisés: PHP, MySql, Git, PhpMyAdmin.</i></p>
          <div class="d-flex justify-content-center" style="padding-bottom:15vh">
          <span><img id="imgs" class="m-5" src="../img/othello2.PNG" alt="othello" height="100">
          <img id="imgs" class="m-5" src="../img/othello3.PNG" alt="othello" height="100"></span>
          <img id="imgs" class="m-5" src="../img/othello4.PNG" alt="othello" height="100">
          <img id="imgs" class="m-5" src="../img/otherllo.PNG" alt="othello" height="100">
          </div>
      </div></center>
    </div>
  </div>
</div>
{% endblock %}

